# SQUARE CONFIGURATION
# Frontend IDs
NEXT_PUBLIC_SQUARE_APPLICATION_ID=sandbox-sq0idb-YOUR_ID
NEXT_PUBLIC_SQUARE_LOCATION_ID=main

# Backend Secret (DO NOT EXPOSE)
SQUARE_ACCESS_TOKEN=EAAAl-YOUR_ACCESS_TOKEN

# FIREBASE CONFIGURATION
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
